// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
+font(pfdindisplaypro-bold-webfont, pfdindisplaypro-bold-webfont)
+font(pfdindisplaypro-light-webfont, pfdindisplaypro-light-webfont)
+font(pfdindisplaypro-reg-webfont, pfdindisplaypro-reg-webfont)
+font(pfdindisplaypro-thin-webfont, pfdindisplaypro-thin-webfont)


=pb
	font-family: "pfdindisplaypro-bold-webfont", Arial, sans-serif
	font-weight: 700
=pl
	font-family: "pfdindisplaypro-light-webfont", Arial, sans-serif
	font-weight: 300
=pr
	font-family: "pfdindisplaypro-reg-webfont", Arial, sans-serif
	font-weight: 400
=pt
	font-family: "pfdindisplaypro-thin-webfont", Arial, sans-serif
	font-weight: 100

body
	font-size: 16px
	line-height: 1.5
	color: #d1d1d1
	// min-width: 320px
	background-color: #000
	height: auto
	+pt

.clear
	display: table
	clear: both
	height: 0
a
	text-decoration: none
	color: #fff

//cycles
@each $s in f,vk,tw
	.#{$s}
		+s(#{$s})


//colors

$n: transparent
$colors: rgba(0, 0, 0, .6)
.out
	position: relative
	height: 100%
.h_conteiner
	width: 640px
	margin: 0 auto
.l_container
	position: relative
	width: 840px
	margin: 0 auto
	height: 100%

.header
	position: fixed
	width: 100%
	height: 80px
	background-color: #32333a
	opacity: 0.8
	z-index: 10
	min-width: 640px
	+clr
	&__menu
		float: left
		font-size: 0
		li
			display: inline-block
			margin-left: 35px
			&:first-child
				margin-left: 0
		a
			line-height: 80px
			color: #8FC9AE
			font-size: 16px
			+pl
			+tr(.4s)
			&:hover
				color: #fff
.socio
	float: right
	line-height: 80px

	a
		display: inline-block
		margin-left: 26px
		line-height: 80px
		&:first-child
			margin-left: 0
	i
		display: block
		&:hover
			opacity: .7

.window
	width: 100%
	height: 100%
	position: absolute
	z-index: 5
	// position: relative


@for $q from 2 through 6
	.window:nth-child(#{$q})
		background: ($colors)
		top: ($q - 1) * 100%
		// ~ .main__img
			// +blur(5px)


.main__img
	// position: relative
	position: fixed
	top: 0
	bottom: 0
	height: 100%
	left: 0
	right: 0
	width: 100%
	background-image: url("../img/big.png")
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center
	z-index: 1
	// +blur(0px)


.container__center
	position: absolute
	top: 50%
	left: 0
	+translate(0%,-50%)
	h2
		font-size: 60px
		line-height: 1
		color: #FFF
		+pt
	p
		font-size: 20px
		+pl
.dark__text
	width: 62%
	h2
		color: #2C2D35
	p
		color: #000
		width: 65%
		margin: 20px 0 40px
.buttons
	a
		display: inline-block
		margin-left: 15px
		vertical-align: top
		&:first-child
			margin-left: 0
		&:hover
			opacity: 0.7
.appstore
	+s(app)
.g_play
	+s(gpl)

.white__text
	width: 100%

.task__wrap
	margin: 55px auto
.task
	display: inline-block
	max-width: 180px
	padding-right: 80px
	text-align: left
	vertical-align: top
	&:nth-child(3n)
		padding-right: 0
	img
		display: inline-block
		margin-bottom: 25px
		vertical-align: top
	h3
		color: #FFF
		font-size: 24px
		line-height: 1
		margin-bottom: 20px

.make
	position: relative
	width: 370px
	p
		color: #FFF
		margin: 2px auto
		+pr
	input
		width: 300px
		height: 38px
		outline: none
		border: 1px solid #fff
		background-color: rgba(255, 255, 255, .2)
.make__btn
	position: absolute
	bottom: 0
	right: 0px
	+s(send)