
+font(GothamProBold, GothamProBold)
+font(GothamProLight, GothamProLight)
+font(GothamProRegular, GothamProRegular)
+font(GothamProMedium, GothamProMedium)




=ost
	font-family: "GothamProMedium", Arial, sans-serif
	font-weight: normal
=osl
	font-family: "GothamProLight", Arial, sans-serif
	font-weight: normal
=osr
	font-family: "GothamProRegular", Arial, sans-serif
	font-weight: normal
=osb
	font-family: "GothamProBold", Arial, sans-serif
	font-weight: normal

body
	font-size: 16px
	line-height: 1.5
	color: #d1d1d1
	min-width: 300px
	// +pt
	+ost

.clear
	display: table
	clear: both
	height: 0
a
	text-decoration: none
	color: #fff

//cycles
@each $s in f,vk,tw
	.#{$s}
		+s(#{$s})

//colors

$n: transparent
$colors: rgba(0, 0, 0, .6)
.out
	position: relative
	min-height: 800px
	height: 100%
.l_container
	position: relative
	width: 840px
	margin: 0 auto
	height: 100%
	+r(860)
		width: 738px
		overflow: hidden
	+r(767)
		width: 300px
.btn__hiden-767
	display: none
	margin-top: 40px
	position: absolute
	top: -10px
	left: 10px
	+r(767)
		display: inline-block
		+s(buter)
.hiden-767
	display: none !important
	+r(767)
		display: inline-block !important
.logo
	float: left
	width: 50px
	height: 40px
	margin-left: -80px
	margin-top: 10px
	+r(767)
		float: right
	img
		max-width: 100%
.header
	position: fixed
	// position: relative
	width: 100%
	height: 80px
	top: 0
	background-color: #32333a
	opacity: 0.8
	z-index: 100
	+tr(.4s)
	+clr
	&.header_100
		height: 100%
		opacity: 0.9
		+tr(.4s)
		.header__menu
			margin-top: 20%
			+tr(.3s .2s)
	&__menu
		float: left
		font-size: 0
		// margin-left: 25px
		+r(767)
			width: 200px
			text-align: center
			margin-left: 50px
		li
			display: inline-block
			margin-left: 35px
			+r(767)
				display: none
				text-align: center
				margin-left: 0
				opacity: 0
				+tr(.2s)
			&:first-child
				margin-left: 0
			&.is_active
				a
					color: #FFF
				+r(767)
					display: block
					opacity: 1
			&.is_act
				display: block
				color: #FFF
				opacity: 1
				+tr(.7s)
		a
			line-height: 80px
			color: #8FC9AE
			font-size: 16px
			+osr
			+tr(.4s)
			&:hover
				color: #fff

.socio
	float: right
	line-height: 80px
	+r(767)
		display: none
		+tr(.2s)
		&.is_act
			display: block
			margin-right: 97px
			+tr(.5s)
	a
		display: inline-block
		margin-left: 26px
		line-height: 80px
		text-align: center
		&:first-child
			margin-left: 0
		+r(767)
			width: 30px
			height: 30px
			line-height: 0
			margin-top: 30px
			margin-left: 10px
		&:hover
			opacity: .7
	i
		display: block
		+r(767)
			display: inline-block
			line-height: 30px
			margin: 0 auto
.main__img
	+coverdiv
	min-height: 800px
	height: 100%
	background-color: rgba(0, 0, 0, .5)
	z-index: 2
.main__img_wrap
	// position: relative
	position: absolute
	top: 0
	bottom: 0
	min-height: 800px
	height: 100%
	left: 0
	right: 0
	width: 100%
	// background-image: url("../img/big.png")
	background-image: url("../img/big1920.jpg")
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center
	z-index: 1
	+r(767)
		background-position: 75%
	&.blur
		+blur(5px)
.container__wrap
	margin-top: 120px
.container__center
	position: absolute
	top: 50%
	left: 0
	z-index: 10
	width: 100%
	+translate(0%,-50%)
	+r(767)
		position: relative
		top: 100px
		+translate(0%,0%)
	h2
		font-size: 60px
		line-height: 1
		color: #FFF
		// +pt
		+osr
	.container__title
		+r(767)
			// margin-top: 80px
			font-size: 37px
			margin-left: 10px
			+ .task__wrap
				margin-top: 20px
	.container__wrap
		+r(767)
			margin-top: 0
	.task__wrap
		+r(767)
			margin-top: 0
	// p
	// 	font-size: 15px
	// 	+osl
	// 	+r(767)
	// 		font-size: 17px
.dark__text
	-webkit-box-shadow: none
	box-shadow: none
	width: 80%
	+r(767)
		width: 94%
		margin: 0 auto
		left: 10px
	h2
		color: #2C2D35
		+r(767)
			font-size: 44px
			color: #FFF
	p
		color: #2C2D35
		width: 60%
		margin: 20px 0 40px
		+r(767)
			width: 90%
			color: #FFF
.buttons
	a
		display: inline-block
		margin-left: 15px
		vertical-align: top
		&:first-child
			margin-left: 0
		&:hover
			opacity: 0.7
.appstore
	+s(app)
.g_play
	+s(gpl)

.white__text
	width: 100%

.task__wrap
	margin: 35px auto
	width: 100%
	+r(767)
		margin: 92px auto 0px
	&.get_left
		margin-left: -20px
		+r(767)
			margin: 92px auto 0px
.task
	position: relative
	display: inline-block
	width: 250px
	padding: 20px
	margin-right: 40px
	text-align: left
	vertical-align: top
	-webkit-border-radius: 5px
	border-radius: 5px
	cursor: pointer
	+box
	+r(860)
		width: 229px
		margin-right: 20px
	+r(767)
		width: 100%
		margin: auto
		text-align: center
	&:nth-child(3n)
		margin-right: 0
	&.is_active
		background-color: rgba(0, 0, 0, .5)
		&:after
			content: ""
			position: absolute
			bottom: -8px
			left: 50%
			margin-left: -7px
			+arr(13, 8, rgba(0, 0, 0, .5), b)
		img
			margin-left: 10px
			+r(767)
				margin-left: 0
	img
		display: inline-block
		margin-bottom: 25px
		vertical-align: top
		+tr(.3s)
	h3
		color: #FFF
		font-size: 22px
		line-height: 1
		margin-bottom: 20px
		+osr
	p
		font-size: 15px
		+osl
		+r(767)
			margin-bottom: 20px
			font-size: 17px
	&.form_1,
	&.form_2,
	&.form_3
		h3
			font-size: 24px
		p
			font-size: 14px

.input__wrap
	width: 48%
	float: left
	+r(767)
		width: 100%
		float: none
.textarea__wrap
	float: right
	width: 48%
	+r(767)
		width: 100%
		float: none
.make
	position: relative
	width: 100%
	// margin-left: 20px
	float: left
	margin-right: 20px
	text-align: center
	+r(767)
		width: 300px
		top: -21px
		margin: 0
		float: none
		p
			font-size: 17px
		+ .btn__send
			margin-top: 0
	&__your_name
		float: left
		width: 48%
		text-align: left
		+r(767)
			float: none
			width: 300px
	&__your_tel
		float: right
		text-align: left
		width: 48%
		+r(767)
			float: none
			width: 300px
#form_1,
#form_2,
#form_3
	display: none
	&.is_active
		display: block
.form__wrap
	margin-left: 20px
	+r(820)
		text-align: center
		margin: 0
form
	position: relative
	text-align: left
	+r(820)
		margin: 0 auto
	p
		color: #FFF
		margin: 10px auto 2px
		font-size: 15px
		+osr
	input,
	textarea
		width: 100%
		height: 36px
		outline: none
		padding: 19px
		font-size: 18px
		color: #FFF
		border: 1px solid #fff
		background-color: rgba(255, 255, 255, .2)
		+box
		// +pt
		+osl
	textarea
		height: 115px
		resize: none
		+r(767)
			height: 70px
.make__btn
	float: left
	margin-top: 113px
	+s(send)
	+r(767)
		display: none

.btn__send
	display: inline-block
	margin-top: 20px
	line-height: 41px
	padding: 1px 20px 0 0px
	background-color: #6AC3A8
	text-transform: uppercase
	vertical-align: top
	// +pr
	+osr
	i
		display: inline-block
		vertical-align: top
		margin-right: 10px
		+s(send)




// fix bag previus verstca ))

.get__right
	float: right
	width: 100%
.get__margin_auto
	margin: 0 auto
	text-align: center


.fileform
	// background-color: #6AC3A8
	border-radius: 2px
	cursor: pointer
	height: 42px
	margin-top: 20px
	position: relative
	text-align: left
	float: left
	overflow: hidden
	margin-right: 15px
	vertical-align: middle
	width: 50px
	// background-image: url("../img/icons/add.png")

.fileform .selectbutton
	position: relative
	background-color: #6AC3A8
	border-radius: 3px
	color: #3f3f3f
	float: right
	height: 42px
	text-align: center
	vertical-align: middle
	width: 50px
	cursor: pointer
	i
		display: inline-block
		width: 30px
		height: 30px
		margin-top: 5px
	img
		max-width: 100%
		vertical-align: top
	.chused
		margin-top: 10px
	&:after
		content: ""
		+vcenter
		background-image: url("../img/icons/check.png")
		width: 57px
		height: 57px
#upload
	position: absolute
	top: 0px
	left: 0
	width: 50px
	-moz-opacity: 0
	filter: alpha(opacity=0)
	opacity: 0
	height: 42px
	z-index: 20
	cursor: pointer
