.select2-result-label a {
color: #000;
}
.field-row input {
color: #000;
}
@font-face {
	font-family: Helvetica-Medium;
	src: url("font/Helvetica-Medium.eot");
	src: url("font/Helvetica-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica-Thin;
	src: url("font/Helvetica-Thin.eot");
	src: url("font/Helvetica-Thin.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica-Italic;
	src: url("font/Helvetica-Italic.eot");
	src: url("font/Helvetica-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica;
	src: url("font/Helvetica.eot");
	src: url("font/Helvetica.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica-Light;
	src: url("font/Helvetica-Light.eot");
	src: url("font/Helvetica-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: LucidaGrande;
	src: url("font/LucidaGrande.eot");
	src: url("font/LucidaGrande.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 100%; }
body { height: 100%; font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:focus { outline: 1px dotted #555; }

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	overflow: hidden;
}

#header {
	height: 60px;
	background-color: #1d242e;
	width: 100%;
}

.wrapper {
	width: 970px;
	height: 100%;
	margin: 100px auto;
}

a.btn-step {
	color: #0079ff;
	font-size: 16px;
	font-family: 'Helvetica';
	padding: 8px 11px 8px 0px;
}

a.arrow-left {
	background: url('/style/image/arrow-left-blue.png') no-repeat;
	background-position: 8px center;
	padding-left: 25px;
}

a.btn-step:hover {
	background-color: #0079ff;
	color: #fff;
	font-family: 'Helvetica';
	font-size: 16px;
	border: 0px;
	border-radius: 3px;
	padding: 8px 11px 8px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-align: center;

	cursor: pointer;
	text-decoration: none;
}

a.arrow-left:hover {
	background: url('/style/image/arrow-left-white.png') #0079ff no-repeat;
	background-position: 8px center;
	padding-left: 25px;
}

#main {
	width: 100%;
	/*height: 100%;*/
}

#logo {
	width: 44px;
	height: 100%;
	padding-top: 8px;
	margin-left: 43px;
}

#menu {
	width: 873px;
	height: 100%;
}

#menu ul{
    padding-top: 24px;
}

#menu li{
	list-style: none;
	display: inline;
	margin-left: 33px;
	border: 0px;
}

#menu a {
	color: #d2dbec;
	font-family: 'Helvetica-Medium';
	text-decoration: none;
	font-size: 15px;
}

#menu a:hover {
	border-bottom: 1px #d2dbec solid;
}

#footer {
	height: 195px;
	width: 100%;
}

#menu-footer {
	width: 100%;
	height: 80px;
	text-align: center;
}

#menu-footer ul {
    padding-top: 62px;
}

#menu-footer li {
	list-style: none;
	display: inline;
	margin: 0px 25px 0px 25px;
	border: 0px;
}

#menu-footer a {
	color: #1d242e;
	font-family: 'Helvetica-Medium';
	border-bottom: 1px #1d242e solid;
	font-size: 13px;
}

#menu-footer a:hover {
	text-decoration: none;
}

#social-links {
    margin: 30px auto 20px;
    text-align: center;
}

#social-links li {
    list-style: none;
    display: inline;
    margin: 0 13px 0 13px;
    border: 0;
}

#social-links img {
    height: 28px;
    width: 28px;
}

#copyright {
	color: #acacac;
	font-size: 13px;
	font-family: 'Helvetica-Medium';
	text-align: center;
	margin-top: 30px;
}

#copyright p {
	margin: 3px 0px;
}

#headline {
	width: 100%;
	/*height: 31px;*/
	margin: 53px 0px 42px;
	float:left;
}

#headline-title {
	margin: 0 auto;
	margin-right: 220px;
}

.headline-title-text {
	font-family: Helvetica-Thin;
	color: #1d242e;
	font-size: 26px;
}

.headline-comment-text {
	font-family: Helvetica-Thin;
	color: #1d242e;
	font-size: 12px;
}

#btn-step1 {
    margin-left: 50px;
}

#btn-step2 {
	margin-left: 208px;
	margin-right: 60px;
}

#wrapper-form {
	width: 100%;
	height: auto;
}

.row {
	height: auto;
	overflow: hidden;
}

.col {
	width: 475px;
	float: left;
	height: auto;
	font-family: 'Helvetica-Medium';
	font-size: 14px;
	text-align: right;
	line-height	: 100%;
	color: #1d242e;
}

.col label {
	margin-right: 36px;
	height: 100%;
	padding-top: 5px;
	display: block;
}

.col label.inline {
	margin-right: 36px;
	height: auto;
	padding-top: 5px;
	display: inline-block;
	cursor: pointer;
}

.right {
	width: 495px;
	float: right;
	text-align: left;
	padding-right: 0px;
}

.center {
	width: 100%;
	float: none;
	text-align: center;
	font-size: 13px;
}

.tip {
	width: 320px;
	font-family: 'Helvetica-Italic';
	font-size: 13px;
	margin: 16px 175px 0px 475px;
}
.tip p{
	margin: 12px 0;
}
.btn-next {
	height: 30px;
	line-height: 30px;
	background: url('/style/image/eye.png') no-repeat left center;
	padding-left: 25px;
	width: 200px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	text-align: left;
}

.btn-next a {
	color: #0079ff;
	font-size: 16px;
	font-family: 'Helvetica';
}

.underline {
	text-decoration: underline;
}

.underline-border {
	border-bottom: 1px #0079ff solid;
}

.form-input {
	background-color: #fff;
	border: 1px #bababa solid;
	padding: 5px 8px;
}

.form-text {
	font-family: 'LucidaGrande';
	font-size: 13px;
	/*font-style: italic;*/
}

.input-long {
	width: 343px;
}

.input-normal {
	width: 204px;
}

.input-medium {
	width: 95px;
}

.input-small {
	width: 40px;
	text-align: center;
}

.input-xsmall {
	width: 43px;
}

.input-popup {
	width: 244px;
}

.week {
	margin-top: 30px;
	height: 23px;
}

.day-week {
	font-size: 23px;
	font-family: 'Helvetica-Light';
}

a.btn-slide {
	color: #0079ff;
	font-size: 14px;
	font-family: 'Helvetica';
	line-height: 23px;
	padding-left: 20px;
	text-decoration: none;
}

a.up {
	background: url('/style/image/arrow-up.png') no-repeat left 5px;
}

a.down {
	background: url('/style/image/arrow-down.png') no-repeat left 5px;
}

/*
.timepicker {
	width: 10x;
	height: 20px;
	margin-top: 4px;
	margin-left: 4px;
}
*/

.time-up {
	width: 9px;
	height: 9px;
	font-size: 5px;
	border: 1px #898989 solid;
	border-bottom: 0px;
	background: #f7f7f7;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.time-up > img {
	margin: 0px 2px 2px 2px;
}

.time-down {
	width: 9px;
	height: 9px;
	border: 1px #898989 solid;
	border-top: 0px;
	background: #f7f7f7;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.time-up:hover, .time-down:hover {
	background: #e2e1e1;
}

.time-down > img {
	margin: 0px 2px 4px 2px;
}

.btn-add-lesson {
	width: 170px;
	height: 29px;
	font-family: 'Helvetica';
	font-size: 13px;
	padding: 0px 0px 0px 30px;
	text-align: left;
}

.btn-add-lesson-bg {
	background: url('/style/image/add-lesson.png') no-repeat left center;
}

.btn-add-next-lesson-bg {
	background: url('/style/image/add-next-lesson.png') no-repeat left center;
}

.btn-add-lesson a {
	color: #0079ff;
	font-family: 'Helvetica';
	font-size: 13px;
	text-decoration: underline;
}

.btn-save {
    /*width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 30px;
    text-align: left;*/
    text-align: center;
}

.btn-save a, .btn-save button {
    color: #4ed34b;
    display: inline-block;
    font-family: 'Helvetica';
    font-size: 16px;
    text-decoration: underline;
    padding: 3px 0px 3px 30px;
    border: 0;
    background: url('/style/image/save.png') no-repeat left center;
    cursor: pointer;
}

.hr {
	width: 500px;
	margin: 0 auto;
	border-bottom: 1px #bababa solid;
}

/*
.popup-add-place-overlay {
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,.7);
    text-align: center;
    display: none;
}

.popup-add-place {
	display: block;
    width: 478px;
    height: 328px;
    z-index: 1000;
    background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -164px;
	margin-left: -239px;
}
*/

.popup-headline {
	margin-top: 20px;
}

.btn-cancel {
    /*width: 100px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*text-align: left;*/
}

.btn-cancel a {
    display: inline-block;
    color: #d34b4b;
    font-family: 'Helvetica';
    font-size: 14px;
    text-decoration: underline;
    padding: 3px 0px 3px 30px;
    background: url('/style/image/cancel.png') left center no-repeat;
}

.wrapper-day {
	display: none;
}

div.lesson-not-regular {
	display: none;
}

div.some-groups {
	display: none;
}

.popup-raspisanie-overlay {
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,.7);
    text-align: center;
    display: none;
    overflow-y: scroll;
}

.popup-raspisanie {
    position: relative;
    //display: inline-block;
    min-width: 970px;
    //min-height: 800px;
    background: #fff;
}

.added-email-overlay {
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,.7);
    text-align: center;
    display: none;
    overflow-y: scroll;
}

.added-email {
    position: relative;
    display: inline-block;
    min-width: 500px;
    min-height: 400px;
    min-height: 400px;
    z-index: 1000;
    margin-top: 100px;
    background: #fff;
    margin-bottom: 250px;
    padding: 0px 30px 20px;
}

.cell-lesson {
	border: 1px #7fa6d2 solid;
}

.headline-table {
	font-size: 14px;
	font-family: 'Helvetica';
	padding: 11px 0px 13px 0px;
}

.col-day {
	width: 120px;
	text-align: right;
	padding-top: 15px;
	padding-right: 18px;
	font-family: 'Helvetica-Light';
	font-size: 18px;
	vertical-align: top;
	
}

.lesson {
	border-bottom:  1px #bababa dotted;
	color: #000;
	font-family: 'Helvetica-Light';
	font-size: 18px;
	
}

.row-day {
	border-top: 1px #bababa solid;;
}

.last-col-lesson {
	max-width: 400px;
	min-width: 50px;
}

.col1 {
	border-right: 1px #bababa solid;
}

.col-time {
	width: 143px;
	text-align: left;
	padding-left: 13px;
}

.table-head {
	padding-left: 13px;
}

.col-group {
	width: 250px;
	text-align: left;
}

.table-name-group {
	font-family: 'Helvetica-Medium';
	margin-left: 5px;
}

.table-time {
	font-family: 'Helvetica';
	font-size: 18px;
}

.table-lesson {
	background-color: #e0efff;
	padding: 10px 10px 12px 10px;
	position: relative;
}

.headline-lesson {
	width: 100%;
}

.type-lesson {
	font-family: 'LucidaGrande';
	font-size: 13px;
	width: 90px;
	color: #94adc8;
	text-align: right;
}

.name-lesson {
	font-family: 'LucidaGrande';
	font-weight: bold;
	font-size: 13px;
}

.teacher-lesson {
	font-size: 13px;
	font-family: 'LucidaGrande';
	padding-left: 20px;
	background: url('/style/image/teacher.png') no-repeat left -1px;
	margin-top: 15px;
}

.location-lesson {
	font-size: 13px;
	font-family: 'LucidaGrande';
	padding-left: 20px;
	background: url('/style/image/location.png') no-repeat 1px 0px;
	margin-top: 15px;
}

.comment-lesson {
	width: 100%;
	text-align: right;
	font-size: 16px;
	font-family: 'Helvetica';
	padding-right: 15px;
	color: #a71e18;
}

.lesson-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 9999;
    position: absolute;
}
.lesson-overlay-b { padding-top: 37px; vertical-align: top; }

.popup-add-lesson,
.popup-edit-lesson {
    width: 155px;
    display: inline-block;
    vertical-align: top;
}
.popup-add-lesson a {
    background: url('/style/image/add-lesson.png') rgba(0,0,0,0.7) no-repeat 15px 7px;
}
.popup-edit-lesson a {
    background: url('/style/image/edit.png') rgba(0,0,0,0.7) no-repeat 15px 7px;
}

.popup-add-lesson a,
.popup-edit-lesson a
{
	display: inline-block;
	height: 14px;
	padding: 10px 12px 10px 40px;
    font-family: 'Helvetica';
    font-size: 14px;
    color: #377cc8;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.lesson-overlay a.popup-btn { width: 50px; height: 34px; background-color: rgba(0,0,0,0.7); display: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; vertical-align: top; }
.lesson-overlay a.popup-btn.remove { background-image: url('/style/image/cancel.png'); background-repeat: no-repeat; background-position: 15px 7px; }
.lesson-overlay a.popup-btn.add { /*position:absolute; left: 50%; bottom: 5px; margin-left: -25px;*/ background-image: url('/style/image/add-lesson.png'); background-repeat: no-repeat; background-position: 15px 7px; }

a.btn-back-to-edit {
	color: #0079ff;
	font-size: 16px;
	font-family: 'Helvetica';
	padding: 8px 11px 8px 25px;
	background: url('/style/image/arrow-left-blue.png') no-repeat;
	background-position: 8px center;
}

.autocomplete {
	z-index: 100;
	position: absolute;
}

.autocomplete-item {
	word-wrap:break-word;
}

.autocomplete-item:hover {
    background: #f5f6f6;
    cursor: pointer;
}

.popup-alert {
    padding: 0px 10px;
    color: #ff0000;
    display: none;
    position: absolute;
    left: 220px;
    top: 10px;
    text-align: center;
}

/* ==================================================== */
/* 08.10.2014 */
.text-center { text-align: center; }
.text { font-size: 14px; }
.hidden { display: none; }
i { font-style: italic; }
b, strong { font-weight: bold; }
.no-padding { padding: 0; }
input.error { border-color: red; }
.error-message { font-size: 14px; color: #a1311f; float:right; }
.js-link { color: #0079ff; border-bottom: 1px dashed #0079ff; }
.js-link:hover { text-decoration: none; }
.headline-title-text h1 { text-align: center; }
#lessons-list td {
color: #4e4e4e;
font-family: 'Helvetica-Medium';
    font-size: 14px;
}

.name-lesson {
    font-size: 13px;
    font-family: 'LucidaGrande';
    /*
    padding-left: 20px;
    background: url('/image/lesson.png') no-repeat left -1px;
    */
    /*margin-top: 15px;*/
}

.groups-lesson { font-size: 13px; font-family: 'LucidaGrande'; margin-top: 15px; padding: 0 0 0 20px; background: url('/style/image/group.png') no-repeat left top; }

.lesson_edit .col {
    width: 265px;
    float: left;
    height: auto;
    font-family: 'Helvetica-Medium';
    font-size: 14px;
    text-align: right;
    line-height	: 100%;
    color: #1d242e;
}

.lesson_edit .right {
    width: 435px;
    float: right;
    text-align: left;
    padding-right: 0px;
}

.lesson_edit .popup-select-link a { display: inline-block; width: auto; max-width: 100%; height: 22px; overflow: hidden; line-height: 2; text-decoration: none; white-space: nowrap; text-overflow: ellipsis; }

.column-50 { width: 50%; float: left; }
.row-info { margin: 12px 0; }
.row-info input{ margin-left:40%; }
.row-info p { font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 0 0 10px 0; }

/* sheduleTable */
.shedule-table > table { border: 1px #bababa solid; width: 100%; }
.shedule-table p { margin: 5px 0; }
.shedule-table > table > thead > tr > td,
.shedule-table > table > tbody > tr > td,
.shedule-table > table > tfoot > tr > td { border: 1px #bababa solid; vertical-align: top; padding: 15px; font-size: 14px; }
.shedule-table > table > tbody > tr > td.no-padding { padding: 0; }
.shedule-table td td { padding: 8px; }
.shedule-table .table-lesson {  }
.shedule-table .cell-lesson .cell-lesson-cont,
.shedule-table .cell-lesson-empty .cell-lesson-cont { min-height: 80px; position: relative; }
.shedule-table .cell-lesson-empty {  }
.shedule-table .cell-lesson { background-color: #e0efff; }
.shedule-table .table-lesson .cell-lesson-cont { min-height: 40px;  }

.shedule-table .cell-lesson.skip { background-color: #ddd; }
.shedule-table .cell-lesson.skip .cell-lesson-cont { min-height: 30px; }
.shedule-table .cell-lesson.skip .cell-lesson-cont .name-lesson { padding: 0; margin: 0; background: none; text-align: center; line-height: 30px; }

#lesson-overlay { position: absolute; left: -15px; top: -15px; width:100%; height:80px; text-align: center; vertical-align: top; }
#addLessonForm { padding-top: 20px; }
.xdsoft_time_variant .xdsoft_disabled { display: none; }
.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th { vertical-align: middle; }
.select2-results,
.select2-search input { font-size: 13px; }
.select2-results .select2-no-results { background: #fff; padding: 3px 7px 4px; }
.select2-results .select2-result-with-children { display: none !important; }
.select2-results .select2-result-label a { text-decoration: underline; }
.red { color: #e65049; }
.clearfix { clear: both; }
#lessonForm input {
font-family: 'LucidaGrande';
    font-size: 13px;
	height:23px;
	
	
}
#lessonForm input[type="checkbox"] {
height:13px;
width:auto;
}

/*
.shedule-table .cell-lesson.skip .lesson-overlay-b { padding-top: 5px; }
.shedule-table .cell-lesson.skip-nofirst .lesson-overlay-b { padding-top: 13px; }
*/
.shedule-table .cell-lesson.skip .lesson-overlay-b { padding-top: 13px; }

/* modal */
.modal-overlay { display: none; position: fixed; left: 0; top:  0; width: 100%; height: 100%; z-index: 999; background: rgba(0,0,0,.7); }
.modal { position: fixed; left: 50%; top: 50%; width: 480px; min-height: 330px; margin-top: -165px; margin-left: -240px; z-index: 1010; background: #fff; font-size: 14px; display: none; 
color: #4e4e4e;
font-family: Arial, Tahoma, Verdana, sans-serif; 

}
.modal-b { padding: 20px; }
.modal .headline-title-text { margin-bottom: 15px; margin-top: 0; text-align: center; }
.modal .tip { margin: 10px 0; text-align: left; color: #777; /*color: #a1311f;*/ }
.modal .row { padding: 0 0 10px 0; }
.buttons-row { height: 30px; padding: 15px 45px 0 45px; }
.button-left { width: 47%; height: 30px; float: right; border-left: 1px solid #bababa; }
.button-left .btn-cancel { float: right; width: auto; }
.modal .comment { padding-top: 10px; font-size: 13px; }
.recaptcha-cont { width: 305px; margin: 0 auto; }
input[name='email'] {
color: #4e4e4e;
}
#popup-add-place { width: 520px; min-height: 350px; margin-top: -175px; margin-left: -260px; }
#popup-add-place .row.info { width: 280px; float: right; text-align: left; font-size: 14px; font-weight: normal; margin-top: 15px; }

.table-padding {  }
.table-padding td { padding: 10px; }

/* link-button */
.link-button { display: inline-block; margin: 10px 0; padding: 2px 0 4px 25px; color: #0079ff; font-family: Arial, Tahoma, Verdana, sans-serif; font-weight: normal; }
.link-button.green { color: #4ed34b; }
.bells-schedule {  background: url("/style/image/icon-bell2.png") no-repeat; }
.icn-add { background: url("/style/image/add-lesson.png") no-repeat; }
.icn-send { background: url("/style/image/save.png") no-repeat; }

.xdsoft_autocomplete_dropdown { display: none !important; }

/* buttons-confirm */
.buttons-confirm { margin: 20px 0 10px 0; }
.buttons-confirm p { font: normal 14px Arial, Tahoma, Verdana, sans-serif; margin-bottom: 15px; }
.buttons-confirm a { display: inline-block; padding: 0 5px; color: #0079ff; }

/* session-lesson */
.session-lesson { padding: 0 10px; }
.session-lesson > div { margin: 0; }
.type-session-lesson { padding-left: 20px; float: right; font-style: italic; font-family: 'LucidaGrande'; font-size: 14px; color: #7090B2; }
.session-lesson .name-lesson { margin-bottom: 15px; }

/* add-lesson-session */
.add-lesson-session { width: 740px; margin: 0 auto; text-align: left; }
.add-lesson-session  input{color: #000; }
.add-lesson-session .buttons-row { width: 350px; margin: 0 auto; }
.add-lesson-session .buttons-row a { font-size: 14px; }
.add-lesson-session .input-small { width: 94px; }

.overlay-container { min-height: 50px; position: relative; padding: 15px; }
.overlay-container .lesson-overlay { position: absolute; left: 0; top: 0; display: none; text-align: center; }
.overlay-container .lesson-overlay-b { padding-top: 23px; }
.overlay-container:hover .lesson-overlay { display: block; }
.overlay-container .lesson-overlay .popup-btn.remove { display: inline-block; }

.change-day { padding: 15px 0 0 0; visibility: hidden; }
.change-day a { color: #0079ff; }
.col-time:hover .change-day { visibility: visible; }

/* btn-new-shedule */
#btn-new-shedule { position: relative; display: none; }
#btn-new-shedule div { position: absolute; right: 0; bottom: 0; display: inline-block; height: 26px; padding: 8px 10px 0 10px; background-color: rgba(0,0,0,0.2); vertical-align: top; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #000; font-size: 14px; }
#btn-new-shedule .btn { height: 20px; padding: 3px 20px 0 0; }

#btn-new-shedule span { display: inline-block; height: 20px; vertical-align: top; }
#btn-new-shedule span { padding-top: 0px; float: left; }
#btn-new-shedule a.btn-new {  background: url('/style/image/cancel.png') 100% 0 no-repeat; color: #a71e18; float: left; }
#btn-new-shedule a.btn-new span { display: none; padding: 0px 5px 0 0; text-decoration: underline; }
#btn-new-shedule a.btn-new:hover span { display: inline-block; }
#btn-new-shedule .btn-ok { background: url('/style/image/save.png') 100% 0 no-repeat; }
#btn-new-shedule .btn-cancel { background: url('/style/image/cancel.png') 100% 0 no-repeat; }
#sheduleBells {

}
.field-row { margin: 0 auto 10px auto; }
.field-row label { display: block; margin: 0 0 10px 0; color: #4E4E4E;
    line-height: 1;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}
.field-row input.form-text { width: 95%; }
#popup-add-value { min-height: 190px; margin-top: -95px; }
#loading { 
font-size: 12px; 
    line-height: 1;
    font-family: Arial, Tahoma, Verdana, sans-serif;
color: #4e4e4e;

width:100px; height:35px; padding: 65px 0 0 0; border:1px solid #ddd; position: fixed; left:50%; top:50%; margin:-50px 0 0 -50px; background: url("/style/image/loader.gif") no-repeat center 15px #fff; text-align: center; box-shadow: 0 0 7px 1px rgba(0,0,0,0.2); border-radius: 3px; z-index: 1000; }

/* tabs */
.tabs { margin: 0; padding: 0; height: 35px; overflow: hidden; font-size: 14px; /*position: relative; top:1px;*/ }
.tabs li { display: block; float: left; padding:4px; margin:0 5px 0 0; background-color: #eee; border: 1px solid #bababa; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.tabs li.active { background-color: #ccc; /*border-bottom: 1px solid #fff;*/ }
.tabs li a { display: block; height: 20px; padding: 6px 11px 0 11px; color: #777; text-decoration: none; }
.tabs li:hover { background-color: #F2F2F2; }
.tabs li:hover a { color: #000; }
.tabs li.active a { color: #000; }
.tabs li.active:hover { background-color: #C4C4C4; }
.tabs li.active:hover a { color: #000; }
.shedule-table.tabbed { border-top: 2px solid #ccc; color: #4e4e4e; font-family: 'Helvetica'; font-size: 14px;}

.select2-container.loading .select2-chosen,
.select2-container.loading .select2-choices { background-image: url("/webform/js/select2/select2-spinner.gif"); background-position: right 5px; background-repeat: no-repeat; }
.select2-container.loading .select2-choices { background-position: 95% 5px; }
.select2-search input { font-size: 13px; }


.get__margin_auto{
	margin: 0 auto;
	text-align: center;
}
.get__margin_auto .right{
	width: auto;
	margin: 0 auto;
}
/* recover form */
#recoverForm p {
color:#4e4e4e;
text-align: center;
}
#recoverForm input {
color:#4e4e4e;
}
#recoverForm a {
color:rgb(0, 0, 238);
}
#recoverForm .error-message {
float:none;
}